.card {
    z-index: 1;
    overflow: hidden;
    background-color: var(--card-background-color);
    padding: 1.5rem;
    margin: 50px;
    border-radius: 1rem;
    border: 1px solid var(--secondary-accent-color);

    h2 {
        font-weight: 500;
        margin-top: 0;
    }

    div {
        font-weight: 300;
    }
}