.card {
    z-index: 1;
    overflow: hidden;
    height: 500px;
    width: 500px;
    background-color: var(--card-background-color);
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    box-shadow: 10px 10px;
    margin: 50px;

    h2 {
        font-weight: 500;
        margin-top: 0;
    }

    div {
        font-weight: 300;
    }
}