.pill {
    pointer-events: none;
    background-color: #EFF4FF;
    color: #2557D6;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
}

@media (max-width: 640px) {
    .pill {
        padding: 5px 10px;
    }
}