.pill {
    pointer-events: none;
    background-color: var(--button-background-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
}

@media (max-width: 640px) or (max-height: 700px) {
    .pill {
        padding: 5px 10px;
    }
}