.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: -72px 0 var(--accent-color) inset;
    }

    100% {
        box-shadow: 48px 0 var(--accent-color) inset;
    }
}

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}