:root {
    --folder-width: 1024px;
}

.folder-stack {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.folder {
    position: absolute;
    width: var(--folder-width);
    z-index: 10;

    path {
        fill: var(--folder-color);
    }

    &.backside {
        transform: scaleX(-1) translateY(-0.6rem);
        transform-origin: center;
        z-index: -1;

        path {
            fill: var(--folder-backside-color);
        }
    }
}

.folder-tag {
    z-index: 20;
    background-color: #fff;
    color: #000;
    width: 300px;
    height: 50px;
    position: absolute;
    transform: translateX(calc(var(--folder-width) / 3)) translateY(20px);
    transform-origin: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Caveat";
    font-size: 1.5rem;
}