.folder-stack {
    position: absolute;
    bottom: var(--folder-location);
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.folder {
    position: absolute;
    width: var(--folder-width);
    z-index: 10;
    box-sizing: border-box;

    path {
        fill: var(--folder-color);
    }

    &.backside {
        transform: scaleX(-1) translateY(-0.6rem);
        transform-origin: center;
        z-index: -1;

        path {
            fill: var(--folder-backside-color);
        }
    }
}