.card-stack-outer {
    position: relative;
    width: 100%;
}

.card-stack-inner {
    position: sticky;
    top: 0;
    height: 100vh;
    position: -webkit-sticky;
}

.card-stack-clip {
    position: absolute;
    left: 50%;
    top: var(--stack-location);
    transform: translateX(-50%);
    width: var(--card-width);
    height: 100vh;
    overflow: hidden;
}