.card {
    z-index: 1;
    overflow: hidden;
    background-color: var(--card-background-color);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-accent-color);
    box-sizing: border-box;
}

.card--stacked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    pointer-events: auto;

    width: var(--card-width);
    height: var(--card-height);
}

.card__content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}