:root {
    --card-height: 600px;
    --container-size: min(100vw, 1200px);
}

.container {
    width: var(--container-size);
    min-height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--container-size);
    height: 100vh;
    margin-bottom: 400px;
}

.animated-card {
    z-index: 1;
    position: absolute;
    top: 80vh;
    width: 55rem;
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
    background: var(--card-background-color);
}


.folder {
    position: absolute;
    width: min(70vw, 62.5rem);
    top: 82vh;
    z-index: 1000;

    path {
        fill: var(--folder-background-color);
    }

    &.backside {
        transform: scaleX(-1);
        transform-origin: center;
        z-index: -1000;
        top: 79vh;

        path {
            fill: #d0bb81;
        }
    }
}

.hide-bounce-overflow {
    position: absolute;
    background-color: var(--background-color);
    height: 400px;
    z-index: 999;
    width: 61rem;
    bottom: -600px;
}