@font-face {
    font-family: "BoldPixels";
    src: url("../assets/fonts/BoldPixels/BoldPixels.otf") format("opentype"),
        url("../assets/fonts/BoldPixels/BoldPixels.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Caveat";
    src: url("../assets/fonts/Caveat/Caveat-Regular.ttf") format("truetype");
    font-weight: 400;
    /* or normal */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Caveat";
    src: url("../assets/fonts/Caveat/Caveat-Bold.ttf") format("truetype");
    font-weight: 700;
    /* or bold */
    font-style: normal;
    font-display: swap;
}