@font-face {
    font-family: "BoldPixels";
    src: url("../assets/fonts/BoldPixels.otf") format("opentype"),
        url("../assets/fonts/BoldPixels.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}