:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #FFFEFA;
  --background-secondary-color: rgb(241, 83, 145, 0.3);
  --welcome-card-background-color: #FFFFFF;
  --card-background-color: #FFF5E5;
  --folder-color: #ffe190;
  --folder-backside-color: #d0bb81;
  --button-background-color: #FFE9CC;
  --accent-color: #f15391;
  --secondary-accent-color: #201F1E;
  --text-color: #201F1E;
  --link-color: #E21266;
  --link-hover-color: #A30F4A;
  --icon-button-background: #FFF;
  --icon-button-border: #f15391;
  --progress-bar-color: #A57B2C;
  --border-color: #201F1E;

  --table-outer-color: #4d3a2a;
  --table-inner-color: #684d35;

  --border-radius: 1rem;
  --spacing-xsmall: clamp(0.5rem, 0.5rem + 0.5vmin, 1rem);
  --spacing-small: clamp(0.75rem, 0.75rem + 0.8vmin, 1.5rem);
  --spacing-medium: clamp(1rem, 1rem + 1.2vmin, 2rem);
  --spacing-large: clamp(1.5rem, 1.5rem + 2vmin, 3rem);
}

:root.dark {
  /* Dark theme overrides */
  --text-color: #FFE9C7;
  --background-color: #201F1E;
  --background-secondary-color: rgb(255, 254, 250, 0.3);
  --welcome-card-background-color: #201F1E;
  --card-background-color: #403C3A;
  --folder-color: #e3c97f;
  --folder-backside-color: #887540;
  --link-color: #F9A1CE;
  --link-hover-color: #FBD0E6;
  --button-background-color: #786E68;
  --icon-button-background: #000;
  --icon-button-border: #f15391;
  --progress-bar-color: #A57B2C;
  --secondary-accent-color: #FFFEFA;
  --border-color: #FFFEFA;

  --table-outer-color: #322417;
  --table-inner-color: #573c2b;
}

.text-xxs {
  font-size: clamp(0.65rem, 1.1vw, 0.78rem);
  line-height: 1.2;
}


.text-xs {
  font-size: clamp(0.75rem, 1.3vw, 0.9rem);
  line-height: 1.2;
}

.text-sm {
  font-size: clamp(0.9rem, 1.6vw, 1.1rem);
  line-height: 1.25;
}

.text-md {
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.25;
}


.text-lg {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  line-height: 1.2;
}

.text-xl {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  line-height: 1.15;
}


.text-xxl {
  font-size: clamp(2rem, 4vw, 3.2rem);
  line-height: 1.1;
}


.text-center {
  text-align: center;
}