.end-section {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: max(calc(var(--folder-width) * 0.6));
    margin-bottom: 2rem;

    font-size: 0.8rem;
    padding: 1rem;
    box-sizing: border-box;
}

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--background-color);
    min-width: 320px;
    box-sizing: border-box;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
}


@media (max-width: 600px) {
    .end-section {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .footer-box {
        flex-direction: column;
        gap: 1rem;
        background-color: var(--background-color);
        min-width: 200px;
        box-sizing: border-box;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
    }

}