.end-section {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: max(calc(var(--folder-width) * 0.6));
    margin-bottom: var(--spacing-medium);

    font-size: 0.8rem;
    padding: var(--spacing-xsmall);
    box-sizing: border-box;
}

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-large);
    background-color: var(--background-color);
    min-width: 320px;
    box-sizing: border-box;
    padding: var(--spacing-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}


@media (max-width: 600px) {
    .end-section {
        flex-direction: column;
        margin-bottom: var(--spacing-xsmall);
    }

    .footer-box {
        flex-direction: column;
        gap: var(--spacing-xsmall);
        min-width: 200px;
        padding: var(--spacing-xsmall);
    }

}