.global-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
}

.global-progress-bar__bar {
    height: 100%;
    background: #0070f3;
    transform-origin: 0 50%;
}

.welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px;
}

.welcome-h2 {
    font-weight: 800;
    font-family: "BoldPixels";
    font-size: 6rem;
}

.welcome-box {
    width: 50vw;
    background-color: #e8e8e8;
    border: 10px solid #000;
}

.welcome-box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
    background-color: var(--welcome-card-background-color);
}

.table {
    margin: -100px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #5c1d00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-inner {
    width: 100%;
    height: 60px;
    background-color: #6a3100;
}