html {
    scroll-snap-type: y mandatory;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: 50px;
    transform: scaleX(0);
}