:root {
    --frame-px: 6px;
    --frame-inner: #fff;
    --frame-mid: var(--accent-color);
    --frame-outer: #000;
    --picture-size: clamp(100px, min(26vw, 26vh), 250px);
}

.pixel-frame {
    --shadow-step: var(--frame-px);
    display: inline-block;
    padding: var(--frame-px);
    background: var(--frame-inner);
    image-rendering: pixelated;
    width: var(--picture-size);

    box-shadow:
        0 0 0 calc(1 * var(--frame-px)) var(--frame-mid),
        0 0 0 calc(2 * var(--frame-px)) var(--frame-outer)
}

.pixel-frame__img {
    display: block;
    width: 100%;
}

@media (max-width: 640px) {
    :root {
        --frame-px: 4px;
    }
}