.download-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.25s;


    &:hover {
        border-color: var(--accent-color);
        color: var(--text-color);
    }

    &:focus {
        outline: none;
        color: var(--text-color);
    }

    &:focus-visible {
        outline: 4px auto var(--accent-color);
        outline-offset: 2px;
        box-shadow: none;
        color: var(--text-color);
    }
}

.resume-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.personal-info--name {
    text-align: center;
    font-family: "BoldPixels", system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-top: var(--spacing-medium);
    word-spacing: -10px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.personal-info--contact {
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-xsmall);
    gap: var(--spacing-large);
}

.portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: var(--spacing-small);
}

.card-content--center {
    justify-content: center;
}

.card-title {
    text-align: center;
    font-family: "BoldPixels", system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xsmall);
}

.education--title {
    text-align: center;
    font-weight: 700;
}

.card-content--centered {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.responsive-margin {
    margin: 0 7rem;
}

@media (max-width: 640px) {
    .personal-info--contact {
        flex-direction: column;
        gap: var(--spacing-xsmall);
    }

    .portrait {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .personal-info--name {
        word-spacing: -5px;
    }
}

@media (max-width: 1439px) {
    .responsive-margin {
        margin: 0;
    }
}