.download-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.25s;


    &:hover {
        border-color: var(--accent-color);
        color: var(--text-color);
    }

    &:focus {
        outline: none;
        color: var(--text-color);
    }

    &:focus-visible {
        outline: 4px auto var(--accent-color);
        outline-offset: 2px;
        box-shadow: none;
        color: var(--text-color);
    }
}

.resume-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.personal-info--name {
    text-align: center;
    font-weight: 800;
    font-family: "BoldPixels";
    font-size: 4rem;
    line-height: 4rem;
    margin-top: clamp(1rem, 2rem, 6rem);
}

.personal-info--contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-small);
    gap: var(--spacing-large);
}

.portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: var(--spacing-small);
}