.welcome-section {
    height: 100vh;
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.welcome-box {
    width: 50vw;
    background-color: #e8e8e8;
    border: 10px solid #000;
    min-width: 320px;
    box-sizing: border-box;
}

.welcome-box-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin: 10px;
    padding: 30px;
    background-color: var(--welcome-card-background-color);
    box-sizing: border-box;

    gap: 15px;

    p {
        margin: 0;
    }
}

.welcome-h2 {
    text-align: center;
    font-weight: 800;
    font-family: "BoldPixels", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(4rem, 6vw, 6rem);
    line-height: clamp(3.5rem, 6vw, 6rem);
    margin: 0;
}


.welcome-description {
    text-align: center;
}

.table {
    margin: -100px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--table-outer-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-inner {
    width: 100%;
    height: 40px;
    background-color: var(--table-inner-color);
}


@media (max-width: 1280px) {
    .welcome-box {
        width: 70vw;

    }
}

@media (max-width: 1024px) {
    .welcome-box {
        width: 80vw;

    }
}



@media (max-width: 600px) {
    .welcome-box {
        width: 90vw;

    }
}


@media (max-width: 640px) or (max-height: 640px) {
    .table {
        display: none;
    }
}


@media (max-width: 600px) and (max-height: 799px) {
    .welcome-section {
        height: fit-content;
    }

    .welcome-box {
        height: fit-content;
    }
}

.git {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 0.8rem;
}

.git-link {
    width: 120px;
}

.git-link:first-child {
    text-align: right;
}

.git-link:last-child {
    text-align: left;
}

.git-logo {
    width: 20px;
    background-color: #FFF;
    border-radius: 15%;
    padding: 5px;
}

@media (max-width: 600px) {
    .git {
        flex-direction: column;
        gap: 4px;
    }

    .git-link:first-child {
        order: 2;
        text-align: center;
    }

    .git-link:last-child {
        order: 3;
        text-align: center;
    }

    .git-logo {
        order: 1;
        width: 20px;
        background-color: #FFF;
        border-radius: 15%;
        padding: 5px;
    }

}