.end-section {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: max(calc(var(--folder-width) * 0.6));
    margin-bottom: 1rem;
    gap: 3rem;
    font-size: 0.8rem;
    padding: 1rem;
    box-sizing: border-box;
}


@media (max-width: 600px) {
    .end-section {
        flex-direction: column;
        gap: 1rem;
    }
}