.floating-button {
    z-index: 999;
    position: fixed;
    padding: 0.6em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 0 8px var(--icon-button-border);
    background-color: var(--icon-button-background);
    transition: box-shadow 0.3s ease;
}

.floating-button:hover {
    box-shadow: 0 0 14px 4px var(--icon-button-border);
}