.section-container {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-container>div {
    width: 300px;
    height: 400px;
    margin: 20px;
    background: #f5f5f5;
    overflow: hidden;
}

.section-container img {
    width: 300px;
    height: 400px;
}

@media (max-width: 500px) {
    .section-container>div {
        width: 150px;
        height: 200px;
    }

    .section-container img {
        width: 150px;
        height: 200px;
    }
}

.section-container h2 {
    color: #8df0cc;
    margin: 0;
    font-family: "Azeret Mono", monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
    display: inline-block;
    top: calc(50% - 25px);
    left: calc(50% + 120px);
}