:root {
    --card-height: 600px;
}

html {
    scroll-snap-type: y mandatory;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: 3rem;
    transform: scaleX(0);
}

.section-container {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-box {
    margin: 1rem;
    width: 100%;
    height: var(--card-height);
    padding: 3rem;
    border-radius: 1rem;
    background: var(--card-background-color);
    overflow: hidden;
}

@media (max-width: 500px) {
    .section-box {
        width: 150px;
        height: 200px;
    }
}

.section-container h2 {
    color: var(--primary-color);
    margin: 0 0 0 0;
    padding: 3rem;
    font-family: "Azeret Mono", monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: right;
}