html {
    scroll-snap-type: y mandatory;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: 6rem;
    transform: scaleX(0);
}

.section-container {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-box {
    max-width: 1028px;
    height: 85vh;
    margin: 20px;
    background: var(--card-background-color);
    overflow: hidden;
}

@media (max-width: 500px) {
    .section-box {
        width: 150px;
        height: 200px;
    }
}

.section-container h2 {
    color: var(--primary-color);
    margin: 0;
    font-family: "Azeret Mono", monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
    display: inline-block;
    top: calc(50% - 25px);
    left: calc(50% + 120px);
}