.theme-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.6em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transpareny;
    box-shadow: 0 0 8px var(--theme-toggle-border);
    background-color: var(--theme-toggle-background);
    transition: box-shadow 0.3s ease;
}

.theme-toggle:hover {
    box-shadow: 0 0 14px 4px var(--theme-toggle-border);
}