:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFEFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #FFFEFA;
  --background-color-dark: #201F1E;
  --primary-color: #f15391;
  --secondary-color: #AE8997;
  --text-color-dark: #46202A;
  --text-color-light: #fff;
  --link-color: #AA0E4C;
  --link-hover-color: #5F072A;

  --color-claret: #7B253F;
  --color-cornsilk: #FFF6D7;
  --color-eerie-black: #201F1E;
  --color-baby-powder: #FFFEFA;

  --color-success: #70d11b;
  --color-error: #e7162e;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: url('/cursor.svg'), url('/cursor.png'), url('/cursor.cur'), auto;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--background-color);
  }

  a:hover {
    color: var(--link-hover-color);
  }

  button {
    background-color: var(--background-color);
  }
}