:root {
    --icon-svg-color: #201F1E;
}

:root.dark {
    --icon-svg-color: #FFFEFA;
}

.slide-button {
    color: var(--icon-svg-color);
    background-color: var(--icon-button-background);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline-offset: 2;
}

.slide-button-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
}