.slide {
    width: 100%;
    height: 40vh;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 2px;
}

.description {
    margin-top: 1rem;
}


@media (max-width: 640px) {
    .slide {
        height: 60vh;
    }
}